/* universal styles */
html {
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

h1,
h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* header styles */
.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

.company span {
  font-size: 1rem;
  text-transform: uppercase;
}

/* banner section */
.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.text-content {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  text-transform: uppercase;
  position: relative;
  top: 9rem;
}

.text-content h1 {
  font-size: 2rem;
  margin: 0.25rem 0;
}

@media only screen and (max-width: 470px) {
  .banner {
    height: 15rem;
  }

  .text-content {
    width: calc(100% - 4rem);
    padding: 1rem 2rem;
    top: 10rem;
  }

  .text-content h1 {
    font-size: 1rem;
  }

  .text-content h4 {
    font-size: 0.77rem;
  }
}

/* nav section */
nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

li a {
  text-decoration: none;
  color: white;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}

/* main section styles */
.products,
.details {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid black;
    padding: 2rem 0;
    height: 9rem;
}

.product img {
  max-width: 8rem;
}

.product span {
  display: block;
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
}

.detail {
  width: 35%;
}

.detail .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .product.thermal-glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .products,
  .details {
    flex-wrap: wrap;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .product.cellular-watch {
    display: none;
  }

  .detail {
    width: 90%;
    margin: 0.5rem auto;
  }
}

/* footer styles */
footer {
  background-color: black;
  color: white;
  padding: 2.5rem 0;
  margin-top: 4rem;
}

@media only screen and (max-width: 470px) {
  footer {
    text-align: center;
  }
}
